{{>navShelter}}
<h1 class="uk-heading">My Dogs</h1>
<section class="dog-list">
{{#each shelterdog}}

<div class="wrapper dog-wrapper">
  <div class="container">
    <div class="top" style="background-image: url({{cropped}})"></div>
    <div class="bottom">
      <div class="left">
        <div class="details">
          <h2>{{name}}</h2>
          <p class="dog-date">{{date}}</p>
        </div>
        <div class="buy"><a href="/app/dogs/{{_id}}/update"><i class="material-icons">edit</i></a></div>
      </div>
      <div class="right">
        <div class="done"><i class="material-icons">done</i></div>
        <div class="details">
          <p>You liked {{name}}!</p>
        </div>
        <div class="remove"><i class="material-icons">clear</i></div>
      </div>
    </div>
  </div>
<div class="inside">
    <div class="icon"><i class="material-icons">info_outline</i></div>
    <div class="contents">
      <table>
        <tr>
          <th>Age</th>
          <th>Gender</th>
        </tr>
        <tr>
          <td>{{age}}</td>
          <td>{{gender}}</td>
        </tr>
        <tr>
          <th>Weight</th>
          <th>Size</th>
        </tr>
        <tr>
          <td>{{weight}}</td>
          <td>{{size}}</td>
        </tr>
        <tr>
          <th>Breed</th>
          <th>Shelter</th>
        </tr>
        <tr>
          <td>{{breed}}</td>
          <td>{{shelter.username}}</td>
        </tr>
      </table>
      <p>{{description}}</p>
    </div>
  </div>
</div>
{{/each}}
</section>
{{#if nonDogs}}
<div class="no-items">
    <h3>You don't have any dogs ... <a href="../../app/dogs/create">Add your first one!</a></h3>
    </div>
{{/if}}
</section>



