<h1>You are in</h1>
<h2>You are a Shelter</h2>

{{#each dogs}}
    <img src="{{image}}" alt="{{name}}" width="100px">
    <h2>{{name}}</h2>
    {{#if breed}}
    <p>breed: {{breed}}</p>
    {{/if}}
     <p>age: {{age}}</p>
{{/each}}

{{>navShelter}}