{{>navShelter}}
<h1 class="uk-heading">My Dogs</h1>
<section class="dog-list">
{{#each shelterdog}}
<article>
    <h2 class="uk-heading-divider">{{name}}</h2>
    <img class="dog-img" src="{{image}}" alt="{{name}}">
    {{#if breed}}
    <p>breed: {{breed}}</p>
    {{/if}}
     <p>age: {{age}}</p>
</article>
{{/each}}
</section>
{{#if nonDogs}}
    <h2>You don't have dogs ... <a href="../../app/dogs/create">Add your first one!</a></h2>
{{/if}}

