{{>navShelter}}
<h1 class="uk-heading">My Dogs</h1>
<section class="dog-list">
{{#each shelterdog}}
<div class="wrapper dog-wrapper">
  <div class="container">
    <div class="top" style="background-image: url({{image}})"></div>
    <div class="bottom">
      <div class="left">
        <div class="details">
          <h1>{{name}}</h1>
          <p>{{date}}</p>
        </div>
        <div class="buy"><i class="material-icons">edit</i></div>
      </div>
      <div class="right">
        <div class="done"><i class="material-icons">done</i></div>
        <div class="details">
          <p>You liked {{name}}!</p>
        </div>
        <div class="remove"><i class="material-icons">clear</i></div>
      </div>
    </div>
  </div>
  <div class="inside">
    <div class="icon"><i class="material-icons">info_outline</i></div>
    <div class="contents">
      <table>
        <tr>
          <th>Age</th>
          <th>Gender</th>
        </tr>
        <tr>
          <td>{{age}}</td>
          <td>{{gender}}</td>
        </tr>
        <tr>
          <th>Weight</th>
          <th>Size</th>
        </tr>
        <tr>
          <td>{{weight}}</td>
          <td>{{size}}</td>
        </tr>
        <tr>
          <th>Breed</th>
          <th>Shelter</th>
        </tr>
        <tr>
          <td>{{breed}}</td>
          <td>{{shelter.username}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
{{/each}}
</section>
{{#if nonDogs}}
    <h2>You don't have dogs ... <a href="../../app/dogs/create">Add your first one!</a></h2>
{{/if}}



