{{#each shelterdog}}
    <img src="{{image}}" alt="{{name}}" width="100px">
    <h2>{{name}}</h2>
    {{#if breed}}
    <p>breed: {{breed}}</p>
    {{/if}}
     <p>age: {{age}}</p>
{{/each}}

{{#if nonDogs}}
    <h2>You don't have dogs</h2>
    <a href="../../app/dogs/create">add a dog</a>
{{/if}}

{{>navShelter}}