{{>navShelter}}
{{#if shelterNotes.notes}}
{{#each shelterNotes.notes}}
<article class="uk-comment notifications">
    <header>
        <h3>{{idUser.username}}</h3>
        <img src="{{idUser.image}}" alt="" width="50px">
        <p>{{idUser.name}} {{idUser.surName}}</p>
        <img src="{{idDog.image}}" alt="" width="100px">
    </header>
    <form class="delete-btn" action="/api/message/{{_id}}/delete">
        <button class="submit uk-button" type="submit">Delete</button>
    </form>
    <a href="/app/notifications/{{_id}}">chat</a>
</article>
{{/each}}
{{else}}
<h2>You don't have any notifications yet</h2>
{{/if}}
<script src="/javascripts/shelters/notes.js"></script>
