{{>navShelter}}
<section>
{{#each shelterNotes.notes}}
    <section>
        <img src="{{idUser.image}}" alt="" width="50px">
        <p>{{idUser.name}} {{idUser.surName}}</p>
        {{#if message.[3]}}
        {{!-- email
        telefono --}}
        {{/if}}
        {{#each message}}
            <p class="chat">{{this}}</p>
         {{/each}}
         {{#if message.[1]}}
                {{#if message.[2]}}
                    {{#if message.[3]}}
                    {{else}}
                        <form class="chat-form" action="/api/Dogmessage/{{_id}}">
                            <input id="information" type="text" name="information" placeholder="write your information" />
                            <button class="submit" type="submit">Send</button>
                        </form>
                    {{/if}}
                {{/if}}
            {{else}}
            <form class="ok-form" action="/api/{{_id}}">
                <button type="submit">Request Information</button>
            </form>
         {{/if}}
        <img src="{{idDog.image}}" alt="" width="100px">
    </section>
{{/each}}
</section>
<script src="/javascripts/shelters/notes.js"></script>
