{{>navShelter}}
{{#if shelterNotes.notes}}
{{#each shelterNotes.notes}}
<<<<<<< HEAD
<article class="uk-comment notifications">
    <header>
        <h3>{{idUser.username}}</h3>
        <img src="{{idUser.image}}" alt="" width="50px">
        <p>{{idUser.name}} {{idUser.surName}}</p>
        <img src="{{idDog.image}}" alt="" width="100px">
    </header>
    <form class="delete-btn" action="/api/message/{{_id}}/delete">
        <button class="submit uk-button" type="submit">Delete</button>
    </form>
    <a href="/app/notifications/{{_id}}">chat</a>
</article>
=======
<article class="uk-comment dog-notes">
    <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
       <div class="uk-width-auto">
            <img class="uk-comment-avatar" src="{{idUser.image}}" width="80" height="80" alt="{{idUser.name}}">
            <img src="{{idDog.image}}" alt="{{idDog.name}}" width="80" height="80">
        </div>
        <div class="uk-width-expand">
            <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="/app/profile/{{idUser._id}}/update">{{idUser.username}}</a></h4>
            <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="/app/dogs/{{idDog._id}}/update">{{idDog.name}}</a></h4>
            <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                <li><a href="#">12 days ago</a></li>
                <li><form class="delete-btn" action="/api/message/{{_id}}/delete">
        <button class="submit uk-button uk-button-danger uk-button-small" type="submit">Delete</button>
    </form></li>
            </ul>
        </div>
    </header>
        
   {{!--      <p>{{idUser.name}} {{idUser.surName}}</p> --}}
        {{#if message.[3]}}
        {{/if}}
        {{#each message}}
        <div class="uk-comment-body">
            <p class="chat"><a href="/app/profile/{{idUser}}">{{idUser.name}}</a>{{this}}</p>
        </div>
         {{/each}}
         {{#if message.[1]}}
                {{#if message.[2]}}
                    {{#if message.[3]}}
                    {{else}}
                        <form class="chat-form" action="/api/Dogmessage/{{_id}}">
                            <textarea class="uk-textarea" id="information" type="text" name="information" placeholder="Write a message" ></textarea>
                            <button class="uk-button uk-button-primary uk-margin-small-top submit" type="submit">Send</button>
                        </form>
                    {{/if}}
                {{/if}}
            {{else}}
            <form class="ok-form" action="/api/{{_id}}">
                <button type="submit">Request Information</button>
            </form>
         {{/if}}
        
    </article>
>>>>>>> dev-jairo
{{/each}}
{{else}}
<h2>You don't have any notifications yet</h2>
{{/if}}
<script src="/javascripts/shelters/notes.js"></script>
