<section>
{{#each shelterNotes.notes}}
    <section>
        <img src="{{idUser.image}}" alt="" width="50px">
        <p>{{idUser.name}} {{idUser.surName}}</p>
        {{#each message}}
            <p>{{this}}</p>
         {{/each}}
         {{#if message.[1]}}
                {{#if message.[2]}}
                    {{#if message.[3]}}
                    {{else}}
                        <form action="/api/Dogmessage/{{_id}}" method="POST">
                            <input type="text" name="information" placeholder="write your information" />
                            <button type="submit">Send</button>
                        </form>
                    {{/if}}
                {{/if}}
            {{else}}
            <form action="/api/{{_id}}" method="POST">
                <button type="submit">OK</button>
            </form>
         {{/if}}
        <img src="{{idDog.image}}" alt="" width="100px">
    </section>
{{/each}}
</section>


{{>navShelter}}