{{>navShelter}}
<div class="chats">
<h1 class="uk-heading">Messages</h1>
{{#if shelterNotes.notes}}
{{#each shelterNotes.notes}}
<article class="uk-comment dog-notes">
   <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
        <div class="uk-width-auto">
            <img class="uk-comment-avatar" src="{{idUser.image}}" width="80" height="80" alt="">
        </div>
        <div class="uk-width-expand">
            <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">{{idUser.username}}</a> liked <a class="uk-link-reset" href="#">{{idDog.name}}</a></h4>
        </div>
    <a class="uk-button-small uk-button uk-button-primary uk-margin-small-top" href="/app/notifications/{{_id}}">CHAT</a>
    <form class="delete-btn" action="/api/message/{{_id}}/delete">
        <button class="submit uk-button uk-button-danger uk-margin-small-top uk-button-small" type="submit">Delete</button>
    </form>
    </header>
    </article>
{{/each}}
{{else}}
<div class="no-items">
<center><h3>You don't have any messages</h3></center>
</div>
{{/if}}
</div>
<script src="/javascripts/shelters/notes.js"></script>
