<section class="user-profile">
{{#if chat.imUser}}
{{>navUser}}
<div class="perfilView">
    <div class="chat-profile">
<img src={{chat.idDog.shelter.image}} class="profile-img">
<h3>{{chat.idDog.shelter.username}}</h3>
</div>
<div class="chat-info">
<p>Phone: {{chat.idDog.shelter.phone}}</p>
<p>Email: {{chat.idDog.shelter.email}}</p>
<p>Webside: {{chat.idDog.shelter.website}}</p>
<p>Address: {{chat.idDog.shelter.address}}</p>
</div>
</div>
{{else}}
{{>navShelter}}
<section class="perfilView">
    <div class="chat-profile"></div>
<img src={{chat.idUser.image}} width="100px">
<h3>{{chat.idUser.username}}</h3>
</div>
<div class="chat-info">
<p>{{chat.idUser.name}} {{chat.idUser.surName}}</p>
<p>Phone: {{chat.idUser.phone}}</p>
<p>City: {{chat.idUser.city}}</p>
<p>Ocupation: {{chat.idUser.ocupation}}</p>
<p>Email: {{chat.idUser.email}}</p>
</div>
</section>
{{/if}}
<section class="chat-box">
    {{#each chat.message}}
        <p class="chat-p">{{this}}</p>
    {{/each}}
</section>
<form id="{{chat._id}}" class="chat-form" action="/api/newChat/{{chat._id}}/{{chat.user._id}}/chat" method="POST">
    <input class="uk-input" id="information" type="text" name="information" placeholder="Write your message" /><br>
    <button class="submit uk-button uk-button-primary uk-margin-small-top" type="submit">Send</button>
</form>
<br>
<a href="/../../app/notifications"> Back </a>
</section>
<script src="/javascripts/chat.js"></script>