{{>navUser}}
<h1 class="uk-heading">Dogs</h1>
<section class="dog-list">
{{#if notLikedDogs}}
{{#each notLikedDogs}}
<div class="wrapper dog-article">
  <div class="container">
    <div class="top" style="background-image: url({{image}})"></div>
    <div class="bottom">
      <div class="left">
        <div class="details">
          <h1>{{name}}</h1>
          <p class="dog-date" >{{date}}</pclass="dog-date">
        </div>
        <div class="buy"><i id="like-button" class="material-icons">favorite</i></div>
        
      </div>
      <div class="right">
        <div class="done"><i class="material-icons">done</i></div>
        <div class="details">
        <p>Are you sure?</p>
        <form id="like-form" class='chat-form' action='/api/likeDog'>
            <input class="uk-input" name="shelter" value="{{shelter._id}}" style="display:none;">
            <input class="uk-input" name="dog" value="{{_id}}" style="display:none;">
            <button id="like" style="color:white" class="uk-button uk-button-default uk-button-small" type="submit">Like</button>
        </form>
        </div>
        <div class="remove"><i class="material-icons">clear</i></div>
      </div>
    </div>
  </div>
  <div class="inside">
    <div class="icon"><i class="material-icons">info_outline</i></div>
    <div class="contents">
      <table>
        <tr>
          <th>Ages</th>
          <th>Gender</th>
        </tr>
        <tr>
          <td>{{age}}</td>
          <td>{{gender}}</td>
        </tr>
        <tr>
          <th>Weight</th>
          <th>Size</th>
        </tr>
        <tr>
          <td>{{weight}}</td>
          <td>{{size}}</td>
        </tr>
        <tr>
          <th>Breed</th>
          <th>Shelter</th>
        </tr>
        <tr>
          <td>{{breed}}</td>
          <td>{{shelter.username}}</td>
        </tr>
      </table>
          <p>{{description}}</p>
    </div>
  </div>
</div>
{{/each}}
{{else}}
</section>
<div class="no-items">
    <h3>There aren't any dogs published at the moment...</h3>
</div>
{{/if}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/javascripts/uikit-icons.min.js"></script>
<script src="/javascripts/users/like.js"></script>

<script>
$(document).ready(function(){
  $("#like").click(function(){
    $(".dog-article").fadeOut();
  });
  $(".btn2").click(function(){
    $("p").fadeIn();
  });
});
</script>