{{>navUser}}
<section class="dog-list">
<h1 class="uk-heading">Dogs</h1>
{{#if notLikedDogs}}
{{#each notLikedDogs}}
<div class="wrapper dog-article">
  <div class="container">
    <div class="top" style="background-image: url({{cropped}})"></div>
    <div class="bottom">
      <div class="left">
        <div class="details">
          <h1>{{name}}</h1>
          <p>{{date}}</p>
        </div>
        <div class="buy"><i id="like-button" class="material-icons">favorite</i></div>
        
      </div>
      <div class="right">
        <div class="done"><i class="material-icons">done</i></div>
        <div class="details">
        <form id="like-form" class='chat-form' action='/api/likeDog'>
            <input class="uk-input" name="shelter" value="{{shelter._id}}" style="display:none;">
            <input class="uk-input" name="dog" value="{{_id}}" style="display:none;">
            <button class="uk-button uk-button-secondary uk-button-small" type="submit">Like</button>
        </form>
        </div>
        <div class="remove"><i class="material-icons">clear</i></div>
      </div>
    </div>
  </div>
  <div class="inside">
    <div class="icon"><i class="material-icons">info_outline</i></div>
    <div class="contents">
        <p>{{description}}</p>
      <table>
        <tr>
          <th>Ages</th>
          <th>Gender</th>
        </tr>
        <tr>
          <td>{{age}}</td>
          <td>{{gender}}</td>
        </tr>
        <tr>
          <th>Weight</th>
          <th>Size</th>
        </tr>
        <tr>
          <td>{{weight}}</td>
          <td>{{size}}</td>
        </tr>
        <tr>
          <th>Breed</th>
          <th>Shelter</th>
        </tr>
        <tr>
          <td>{{breed}}</td>
          <td>{{shelter.username}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
{{/each}}
{{else}}
    <h3>There aren't any dogs published at the moment...</h3>
{{/if}}

<script src="/javascripts/uikit-icons.min.js"></script>
<script src="/javascripts/users/like.js"></script>
