{{>navUser}}
<h1 class="uk-heading">My Dogs</h1>
<section class="dog-list">
{{#each dogs}}
<<<<<<< HEAD
<article>
    <h2 class="uk-heading-divider">{{name}}</h2>
    <img class="dog-img" src="{{image}}" alt="{{name}}">
=======
    <img src="{{image}}" alt="{{name}}" width="100px">
    <h2>{{name}}</h2>
>>>>>>> 9f2418a3690872189419cff6a3ab31efb80a2001
    {{#if breed}}
    <p>Breed: {{breed}}</p>
    {{/if}}
     <p>Age: {{age}}</p>
    <form action='/api/likeDog' method="POST">
        <input name="shelter" value="{{shelter.[0]._id}}" style="display:none;">
        <input name="dog" value="{{_id}}" style="display:none;">
        <button type="submit">Favorites</button>
    </form>
</article>
{{/each}}
</section>