{{>navUser}}
<h1 class="uk-heading">Dogs</h1>
<section class="dog-list">
{{#each notLikedDogs}}
<article>
    <h2 class="uk-heading-divider">{{name}}</h2>
    <img class="dog-img" src="{{image}}" alt="{{name}}">
    <h2>{{name}}</h2>
    {{#if breed}}
    <p>Breed: {{breed}}</p>
    {{/if}}

     <p>Age: {{age}}</p>
    <form action='/api/likeDog' method="POST">

     <p>age: {{age}}</p>
    <form class="chat-form" action='/api/likeDog'>

        <input name="shelter" value="{{shelter.[0]._id}}" style="display:none;">
        <input name="dog" value="{{_id}}" style="display:none;">
        <button type="submit">Favorites</button>
    </form>
{{/each}}
</article>
<script src="/javascripts/users/like.js"></script>

