{{>navUser}}
<section>
{{#each userNotes.notes}}
<article>
    <h3>Shelter: {{idDog.shelter.username}}</h3>
    {{#if message.[3]}}
    {{!-- more info --}}
    {{/if}}
    <img class="dog-img" src="{{idDog.image}}" alt="">
    {{#each message}}
        <p>{{this}}</p>
    {{/each}}
    {{#if message.[1]}}
        {{#if message.[2]}}
        {{else}}
            <form class="chat-form" action="/api/message/{{_id}}">
                <input id="information" type="text" name="information" placeholder="write your information" />
                <button class="submit" type="submit">Send</button>
            </form>
        {{/if}}
    {{/if}}
</article>
{{/each}}
</section>
<script src="/javascripts/users/notes.js"></script>
