{{>navUser}}
<div class="chats">
<h1 class="uk-heading">Messages</h1>
{{#if userNotes.notes}}
{{#each userNotes.notes}}
<article class="uk-comment dog-notes">
    <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
        <div class="uk-width-auto">
            <img class="uk-comment-avatar" src="{{idDog.image}}" width="80" height="80" alt="">
        </div>
        <div class="uk-width-expand">
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> 5dc478bdf3f01caad73a6d0c322fdac1d0c5c84f
=======
>>>>>>> dev-jairo
            <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">{{idDog.shelter.username}}</a></h4>
            <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">{{idDog.name}}</a></h4>
        </div>
    <a class="uk-button uk-button-primary uk-margin-small-top" href="/app/notifications/{{_id}}">CHAT</a>
    <form class="delete-btn" action="/api/message/{{_id}}/delete">
        <button class="submit uk-button uk-button-danger uk-margin-small-top" type="submit">Delete</button>
    </form>
<<<<<<< HEAD
    <a class="uk-button" href="/app/notifications/{{_id}}">CHAT</a>
<<<<<<< HEAD
=======
            <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">{{idDog.name}}</a></h4>
            <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                <li><a href="#">12 days ago</a></li>
                <li><form class="delete-btn" action="/api/message/{{_id}}/delete">
        <button class="submit uk-button uk-button-danger uk-button-small" type="submit">Delete</button>
    </form></li>
            </ul>
        </div>
    </header>
     {{#each message}}
    <div class="uk-comment-body">
        <p>{{this}}</p>
    </div>
    {{/each}}
    {{#if message.[1]}}
        {{#if message.[2]}}
        {{else}}
            <form class="chat-form" action="/api/message/{{_id}}">
                <textarea class="uk-textarea" id="information" type="text" name="information" placeholder="Write your message"></textarea>
                <button class="submit uk-button uk-button-primary uk-margin-small-top" type="submit">Send</button>
            </form>
        {{/if}}
    {{/if}}
>>>>>>> dev-jairo
=======
>>>>>>> 5dc478bdf3f01caad73a6d0c322fdac1d0c5c84f
=======
    </header>
>>>>>>> dev-jairo
</article>
{{/each}}
{{else}}
<div class="no-items">
<center><h3>You don't have any messages</h3></center>
</div>
{{/if}}
</div>
<script src="/javascripts/users/notes.js"></script>
