{{>navUser}}
<section class="user-profile">
 <center><form class="uk-form-stacked" action="/app/changePhoto" method="POST" enctype="multipart/form-data">
    <label for="image">
        <img class="profile-img" src="{{image}}"> 
        <input style="display:none;" class="uk-input" onchange="this.form.submit()" type="file" name="image" id="image">
    </label>
</form>
    <h2 class="uk-heading">{{username}}'s' Profile</h2>
</center>
<div class="profile-info">
    <h3>{{name}} {{surName}}</h3>
    <p>Age: {{age}}</p>
    <p>Occupation: {{ocupation}}</p>
    <p>Civil Status: {{civilStatus}}</p>
    <p>City: {{city}}</p>
    <p>Phone: {{phone}}</p>
</div>
</section>
    {{>userUpdate}}
    {{>confirmDelete}}
