
 <form class="uk-form-stacked" action="/app/changePhoto" method="POST" enctype="multipart/form-data">
    <label for="image">
        <img src="{{image}}" width="200px"/> 
        <input onchange="this.form.submit()" type="file" name="image" id="image">
        {{!-- <div uk-form-custom="target: true">
            <input type="file">
            <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" disabled>
        <button class="uk-button uk-button-default">Upload</button>
        </div> --}}
  
        </label>
</form>
    <h2>{{username}}</h2>
    <h3>{{name}} {{surName}}</h3>
    <p>Email: {{email}}</p>
    <p>Age: {{age}}</p>
    <p>city: {{city}}</p>
    <p>ocupation: {{ocupation}}</p>
    <p>Civil Status: {{civilStatus}}</p>
    <form class="uk-form-horizontal uk-margin-large" action="/app/profile/update" method="POST">
         <label class="uk-form-label" for="form-horizontal-text">Username:</label>
            <div class="uk-form-controls">
                <input class="uk-input" type="text" name="username" id="username" disabled value="{{username}}" >
                </div>
         <label class="uk-form-label" for="form-horizontal-text">First Name:</label>
            <div class="uk-form-controls">
                <input class="uk-input" type="text" name="name" id="name" placeholder="first Name" value="{{name}}">
                </div>
         <label class="uk-form-label" for="form-horizontal-text">Surname:</label>
            <div class="uk-form-controls">
                <input class="uk-input" type="text" name="surName" id="surName" placeholder="surName" value="{{surName}}">
                </div>
         <label class="uk-form-label" for="form-horizontal-text">Email:</label>
            <div class="uk-form-controls">
                <input class="uk-input" type="text" name="email" id="email" placeholder="email" value="{{email}}">
                </div>
         <label class="uk-form-label" for="form-horizontal-text">Age:</label>
            <div class="uk-form-controls">
                <input class="uk-input" type="Number" name="age" id="age" placeholder="age" value="{{age}}">
                </div>
         <label class="uk-form-label" for="form-horizontal-text">City:</label>
            <div class="uk-form-controls">
                <input class="uk-input" type="text" name="city" id="city" placeholder="city" value="{{city}}">
                </div>
         <label class="uk-form-label" for="form-horizontal-text">Ocupation:</label>
            <div class="uk-form-controls">
                <input class="uk-input" type="text" name="ocupation" id="ocupation" placeholder="ocupation" value="{{ocupation}}">
                </div>
         <label class="uk-form-label" for="form-horizontal-text">Civil Status:</label>
            <div class="uk-form-controls">
                <input class="uk-input" type="text" name="civilStatus" id="civilStatus" placeholder="civilStatus" value="{{civilStatus}}">
                </div>
        <button class="uk-button uk-button-default" ype="submit">Update</button>
    </form>

{{>navUser}}
