{{>navUser}}
<div class="profile-page">
 <form class="uk-form-stacked" action="/app/changePhoto" method="POST" enctype="multipart/form-data">
    <label for="image">
        <img class="profile-img" src="{{image}}"> 
        <input onchange="this.form.submit()" type="file" name="image" id="image" style="display: inline;">
    </label>
</form>
    <h2>{{username}}</h2>
    <h3>{{name}} {{surName}}</h3>
    <p>Email: {{email}}</p>
    <p>Age: {{age}}</p>
    <p>City: {{city}}</p>
    <p>Occupation: {{ocupation}}</p>
    <p>Civil Status: {{civilStatus}}</p>
</div>
    <form class="uk-form-horizontal uk-margin-large" action="/app/profile/update" method="POST">
         <label class="uk-form-label" for="form-horizontal-text">Username:</label>
            <div class="uk-form-controls">
                <input class="uk-input" type="text" name="username" id="username" disabled value="{{username}}" >
                </div>
         <label class="uk-form-label" for="form-horizontal-text">First Name:</label>
            <div class="uk-form-controls">
                <input class="uk-input" type="text" name="name" id="name" placeholder="First Name" value="{{name}}">
                </div>
         <label class="uk-form-label" for="form-horizontal-text">Surname:</label>
            <div class="uk-form-controls">
                <input class="uk-input" type="text" name="surName" id="surName" placeholder="Surname" value="{{surName}}">
                </div>
         <label class="uk-form-label" for="form-horizontal-text">Email:</label>
            <div class="uk-form-controls">
                <input class="uk-input" type="text" name="email" id="email" placeholder="someone@example.com" value="{{email}}">
                </div>
         <label class="uk-form-label" for="form-horizontal-text">Age:</label>
            <div class="uk-form-controls">
                <input class="uk-input" type="Number" name="age" id="age" placeholder="Age" value="{{age}}">
                </div>
         <label class="uk-form-label" for="form-horizontal-text">City:</label>
            <div class="uk-form-controls">
                <input class="uk-input" type="text" name="city" id="city" placeholder="City" value="{{city}}">
                </div>
         <label class="uk-form-label" for="form-horizontal-text">Occupation:</label>
            <div class="uk-form-controls">
                <input class="uk-input" type="text" name="ocupation" id="ocupation" placeholder="Occupation" value="{{ocupation}}">
                </div>
         <label class="uk-form-label" for="form-horizontal-text">Civil Status:</label>
            <div class="uk-form-controls">
                <input class="uk-input" type="text" name="civilStatus" id="civilStatus" placeholder="civilStatus" value="{{civilStatus}}">
                </div>
        <button class="uk-button uk-button-default" ype="submit">Update</button>
    </form>
    <div class="delete-div">
    <form action="/app/profile/delete" method="POST">
        <button class="uk-button uk-button-danger" type="submit">Delete profile</button>
    </form>
    </div>
